<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <style>
    /* Custom CSS to center all content on the page */
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
    }
    .container {
      max-width: 300px;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 30px; /* Add more margin at the bottom */
    }
    .form-group {
      margin-bottom: 15px;
    }
    .smaller-input {
      width: 100%;
      max-width: 250px;
    }
    .form-check {
      display: flex;
      align-items: center;
    }
    .form-check-label {
      margin-left: 5px;
    }
    .btn {
      width: 100%;
      margin-top: 25px;
      margin-bottom: 25px;
    }
  </style>
</head>
<body>
  <div class="container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "needs-validation", novalidate: true}) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control smaller-input", required: true %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control smaller-input", required: true %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-check">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary mt-3" %>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</body>
</html>
